.Card {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: .2s;
}

.Card:hover {
  box-shadow: 0 6px 16px 0 rgba(34, 60, 80, 0.2);
}

.Card:hover .HeaderImage {
  filter: blur(2px);
}
.Card:hover .HeaderLayout {
  opacity: .75;
}
.Card:hover .ContentFooterTags {
  color: #000000;
}

.Header {
  height: 200px;
  position: relative;
  transition: .2s;
}

.HeaderLayout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: .3;
  transition: .2s;
}

.HeaderImage {

}


.HeaderContent {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeaderInfo {
  color: #ffffff;
  transition: .2s;
}

.Stickers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.Stickers:hover .Sticker:not(:last-child) {
  margin-left: 4px;
}

.Sticker {
  transition: .2s;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 1);
}

.Sticker:not(:last-child) {
  margin-left: -16px;
}

.Content {
  height: 200px;
  background-color: #FFFFFF;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ContentMain {

}

.ContentTitle {
  font-size: 24px;
}
.ContentShortDescription {
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ContentFooter {

}

.ContentFooterTags {
  color: #bababa;
  transition: .2s;
}