{
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "react/prop-types": "off",
    "react/display-name": ["off"],
    "eol-last": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-anonymous-default-export": ["error", {
      "allowArray": true,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": true,
      "allowCallExpression": true,
      "allowLiteral": true,
      "allowObject": true
    }],
    "@next/next/no-title-in-document-head": "off",
    "no-var-requires": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser"
}
