.root {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
}

.paginationIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-grey);
  cursor: pointer;
}
.paginationIcon:first-child {
  margin-right: 12px;
}

.iconDisabled {
  pointer-events: none;
  background-color: var(--color-disabled);
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
}

.itemWrapper {
  width: 30%;
  height: 15vh;
}

.itemWrapper:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1980px) {
}

@media screen and (max-width: 1700px) {
  .itemWrapper {
  }
}

@media screen and (max-width: 1400px) {
  .itemWrapper {
    height: 10vh;
  }
}

@media screen and (max-width: 1200px) {
  .itemWrapper {
    height: 10vh;
  }
}

@media screen and (max-width: 992px) {
  .itemWrapper {
    width: 30%;
    height: 15vh;
  }
}

@media screen and (max-width: 768px) {
  .itemWrapper {
    width: 30%;
  }
}