.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.image {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
}

.name {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price{
  font-size: 15px;
  font-weight: 600;
}
