.Wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}

.TwoSidesLayout {
  display: flex;
  margin-top: 24px;
}

.TwoSidesLayoutLeft {
  flex: 1;
  max-width: 50%;
  padding: 0 15px 0 30px;
}

.ImagesWrapper {

}

.Separator {
  padding: 60px 0 50px 0;
}

.RecentlyViewsWrapper {

}

.TwoSidesLayoutRight {
  flex: 1;
  max-width: 50%;
}


@media screen and (max-width: 1980px) {
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .TwoSidesLayoutLeft {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .TwoSidesLayout {
    display: block;
    padding: 0;
  }
  .TwoSidesLayoutLeft {
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {

}