.Images {
  display: flex;
}

.ImagesMain {
  display: flex;
  flex: 1;
  max-height: 420px;
  cursor: zoom-in;
}

.BigImage {
  width: 100%;
}

.OtherImages {
  padding: 0 12px;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.OtherImage {
  margin: 8px 0;
  cursor: pointer;
  position: relative;
}

.OtherImage:hover > .OtherImageLayer {
  opacity: .2;
}

.OtherImageLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: .2s;
}

.OtherImage > img {
  width: 70px;
  height: 60px;
}

.ImagesOther {
  width: 100%;
  display: flex;
  align-content: stretch;
  margin-top: 24px;
}

.ScrollBlock {
  width: 24px;
  flex: 0 0 auto;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}

.ImagesStack {
  display: flex;
  flex: 1;
  overflow-x: scroll;
}

.SmallImage {
  margin: 0 12px;
  width: 120px;
  min-width: 120px;
  height: 100%;
  min-height: 100%;
}

.Description {
  border-left: 3px solid #e4e4e4;
  height: 500px;
}

@media screen and (max-width: 1700px) {
  .Images {
    display: block;
  }
  .ImagesMain {
    max-height: 405px;
  }
  .OtherImages {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 12px;
  }
  .OtherImage {
    padding: 0;
    width: 20%;
  }
  .OtherImage > img {
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 1400px) {
  .ImagesMain {
    max-height: 300px;
  }
  .OtherImage > img {
    width: 100%;
    height: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .ImagesMain {
    max-height: 250px;
  }
  .OtherImage > img {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 992px) {
  .ImagesMain {
    max-height: 40vh;
  }
  .OtherImage > img {
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .OtherImages {
    padding: 0;
    justify-content: space-between;
  }
  .OtherImage {
    width: 24%;
  }
  .OtherImage > img {
    width: 100%;
    height: 9vh;
  }
}