.Images {
  display: flex;
  margin-top: 30px;
}

.ImagesMain {
  display: flex;
  flex: 1;
}

.OtherImages {
  width: 15%;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
}

.OtherImage {
  width: 100%;
  max-height: 12%;
  margin: 12px 0;
  cursor: pointer;
  overflow: hidden;
;
}
.OtherImage > img {
  width: 100%;
}

.ImagesOther {
  width: 100%;
  display: flex;
  align-content: stretch;
  margin-top: 24px;
}

.ScrollBlock {
  width: 24px;
  flex: 0 0 auto;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}

.ImagesStack {
  display: flex;
  flex: 1;
  overflow-x: scroll;
}

.BigImage {
  width: 100%;
}

.SmallImage {
  margin: 0 12px;
  width: 120px;
  min-width: 120px;
  height: 100%;
  min-height: 100%;
}

.Description {
  border-left: 3px solid #e4e4e4;
  height: 500px;
}