.Carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;
  margin-top: 24px;
}

.ScrollBlock {
  width: 24px;
  flex: 0 0 24px;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}
.ScrollBlock_disabled {
  pointer-events: none;
  background-color: var(--color-secondary);
}

.ScrollableContent {
  flex: 1 1 auto;
  display: flex;
  overflow: scroll;
}
.ScrollableContent::-webkit-scrollbar {
  display: none;
}

.ImageWrapper {
  margin: 0 8px;
  user-select: none;
}

.Image {
  height: 100%;
}