.Wrapper {
  display: flex;
  height: 100vh;
}

.Menu {
  width: 300px;
  flex: 0 0 300px;
  background-color: #FFFFFF;
  transition: .5s;
  box-shadow: 0 0 6px 0 #000000;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.MenuTitle {
  font-size: 32px;
  height: 50px;
  line-height: 32px;
}

.MenuList {
  margin-top: 12px;
}

.MenuItem {
  width: 100%;
  cursor: pointer;
  transition: .1s;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
}
.MenuItemIcon {

}
.MenuItemText {
  margin-left: 8px;
}
.MenuItemActive {
  background: #f8f8f8;
  color: var(--color-primary_accent);
  position: relative;
}

.Slot {
  flex: 1;
  overflow-y: scroll;
}

@media screen and (max-width: 992px) {
  .Menu {
    width: 200px;
    flex-basis: 200px;
  }
}

@media screen and (max-width: 768px) {
  .Menu {
    width: 0;
    flex-basis: 0;
  }
}
