.Wrapper {
  display: flex;
  height: 100vh;
}

.Menu {
  width: 300px;
  flex: 0 0 300px;
  background-color: #FFFFFF;
  transition: .5s;
  box-shadow: 0 0 6px 0 #000000;
}

.MenuTitle {
  font-size: 32px;
  height: 50px;
  line-height: 32px;
}

.MenuList {
  margin-top: 12px;
}

.MenuItem {
  width: 100%;
  cursor: pointer;
  transition: .1s;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  font-size: 18px;
  font-weight: 500;
}
.MenuItem:hover {
  background: #f8f8f8;
  font-size: 20px;
}
.MenuItemActive {
  background: #f8f8f8;
  font-size: 20px;
  position: relative;
}

.Slot {
  flex: 1;
  overflow: scroll;
}

@media screen and (max-width: 1080px) {
  .Menu {
    width: 200px;
    flex-basis: 200px;
  }
}

@media screen and (max-width: 600px) {
  .Menu {
    width: 0;
    flex-basis: 0;
  }
}
